In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
with open('one.txt') as mytext:
    a=mytext.read() #reads whole text as string

In [12]:
a

'This is a story about dogs\nour canine pets\nDogs are furry animals\n'

In [ ]:
with open('one.txt') as mytext:
    b=mytext.readlines() # reads it in list

In [15]:
b

['This is a story about dogs\n',
 'our canine pets\n',
 'Dogs are furry animals\n']

In [17]:
#a.lower().split() // to get list of words

# creating a bag of words model (BOW):

In [ ]:
with open('one.txt') as mytext:
    words_on=mytext.read().lower().split()
    uni_words_one=set(words_on)

In [20]:
uni_words_one

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [ ]:
with open('Two.txt') as mytext:
    words_two=mytext.read().lower().split()
    uni_words_two=set(words_two)

In [22]:
uni_words_two

{'a',
 'about',
 'catching',
 'fun',
 'is',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [23]:
all_uni_words=set()
all_uni_words.update(uni_words_one)

In [24]:
all_uni_words.update(uni_words_two)

In [25]:
all_uni_words

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'catching',
 'dogs',
 'fun',
 'furry',
 'is',
 'our',
 'pets',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [26]:
full_vocab=dict()
i=0
for word in all_uni_words:
    full_vocab[word]=i
    i=i+1

In [27]:
full_vocab

{'fun': 0,
 'story': 1,
 'catching': 2,
 'water': 3,
 'this': 4,
 'sport': 5,
 'canine': 6,
 'dogs': 7,
 'are': 8,
 'popular': 9,
 'animals': 10,
 'is': 11,
 'surfing': 12,
 'waves': 13,
 'a': 14,
 'about': 15,
 'our': 16,
 'pets': 17,
 'furry': 18}

In [39]:
one_freq=[0]*len(full_vocab)
two_freq=[0]*len(full_vocab)
all_words=['']*len(full_vocab)

In [ ]:
with open('one.txt') as f:
    one_text=f.read().lower().split()

In [41]:
for word in one_text:
    word_ind=full_vocab[word]
    one_freq[word_ind]+=1

In [42]:
one_freq

[0, 1, 0, 0, 1, 0, 1, 2, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1]

In [ ]:
with open('Two.txt') as f:
    two_text=f.read().lower().split()

In [44]:
for word in two_text:
    word_ind=full_vocab[word]
    two_freq[word_ind]+=1

In [45]:
two_freq

[1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 3, 2, 1, 1, 1, 0, 0, 0]

In [46]:
all_words

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [47]:
for word in full_vocab:
    word_ind=full_vocab[word]
    all_words[word_ind]=word

In [48]:
all_words

['fun',
 'story',
 'catching',
 'water',
 'this',
 'sport',
 'canine',
 'dogs',
 'are',
 'popular',
 'animals',
 'is',
 'surfing',
 'waves',
 'a',
 'about',
 'our',
 'pets',
 'furry']

In [50]:
bow=pd.DataFrame(data=[one_freq,two_freq],columns=all_words)

In [51]:
bow

,fun,story,catching,water,this,sport,canine,dogs,are,popular,animals,is,surfing,waves,a,about,our,pets,furry
0,0,1,0,0,1,0,1,2,1,0,1,1,0,0,1,1,1,1,1
1,1,1,1,1,1,1,0,0,0,1,0,3,2,1,1,1,0,0,0

* bow contains frequency of all words